* {    
    margin: 0px;    
    padding: 0px;    
    box-sizing: border-box; } 
body {    
    background-color: rgb(133, 166, 192);    
    font-family: sans-serif; } 
#menyen ul {    
    list-style: none;    
    display: flex;    
    flex-wrap: wrap;  
     } 
#menyen a {
    margin-top: 5px;
}
#menyen ul>li {    
    width: 100%; 
    height: 40px;   
    text-align: center; 
    border-left: solid 1px black;      
    margin-bottom: -5px;    
    background-color: rgb(78, 163, 233); }
#menyen ul>li>a {    
    display: block;   
    padding: 10px;    
    text-decoration: none;        
    font-weight: bold;    
    color: black;    }
#menyen ul>li:hover {    
    box-shadow: 0px 0px 5px black;    
    z-index: 1;    
    background-color: rgb(53, 81, 173); }
#menyen div>a>img {        
    position: absolute;        
    right: 0px;    
    z-index: 2; } 
#meny_aapen {        
    display: none;    } 
#meny_aapen:target {    
    display: initial;
        }
@media all and (min-width: 1024px) {        
    #meny_lukket {        display: none;    }        
    #menyen div>a>img {        display: none;    }        
    #meny_aapen {            display: initial;        }          
    #menyen ul {        
        flex-wrap: nowrap;        
        position: initial;                
        justify-content:space-between;    }        
    #menyen ul>li {        
        flex: auto;        
        margin-bottom: 0px;        }        
    #menyen ul>li>a {        padding: 5px;    }
  }
#parken {
    height: 174px;
    margin-top: 30px
    
}
hr {
    margin-top: 20px;
    margin-bottom: 20px
}
.center { margin: 0 auto; width: 400px; margin-left: 465px; border: solid green 10px; 
    border-radius: 20px;
    border: 8px solid darkcyan;
    padding: 7px     }
h3 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 35px;
    margin-left: 395px;
    margin-bottom: 20px
}
#hjemid {
    margin-top: -6px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(2, 86, 155);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    width: 80px;
    height: 40px;
    
  }
  
  #myBtn:hover {
    background-color: rgb(82, 98, 150);
  }
  #articlelinks {
      text-align: center;
  }

#articlelinks ul li {
    margin: 14px;
    list-style-type: none;
}

#social {
    position: fixed;
    width: 90px;
    height: 80px;
    bottom: 23px;
    right: 13px;
}
